* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    background-color: grey;
}

.characterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.characterBloc {
    width: 200px;
    min-height: 240px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 5px;
    
}
figure {
    margin: 0px;
    padding: 0px;
    height: 180px;
    
}

figCaption {
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
}

figure img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto 0px auto;
    border-radius: 50%;
}

figure img:hover {
    width: 150px;
    height: 150px;
    margin: 0px auto;

    padding-top: 0px;
    border-radius: 50%;
}

.actor {
    padding-left: 5px;
    margin: 0px;
}